* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(78, 78, 78);
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

nav h1 {
	font-size: 35px;
	margin-left: 5rem;
}

.buttons {
	margin-right: 8rem;
}

.add-btn {
	height: 45px;
	width: 70px;
	padding: 10px 15px;
	margin-right: 10px;
	background-color: #0962ea;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}

.add-btn a {
	color: white;
	text-decoration: none;
}

.delete-btn {
	height: 45px;
	width: 150px;
	padding: 10px 15px 10px 15px;
	margin-left: 10px;
	background-color: #fb3636;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 10px ;

}

footer p {
	text-align: center;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
}

.product-container {
	display: flex;
	/* justify-content: flex-start;
	align-items: flex-start; */
	/* flex-wrap: wrap; */
	margin-left: 5rem;
}

.product {
	margin: 15px;
	height: 235px;
	width: 350px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 1.5px 1.5px;
	backdrop-filter: blur();
}

.delete-checkbox {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 10px;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 40px;
}

.product-info p {
	font-size: 22px;
}

footer p {
	font-size: 20px;
	font-weight: bold;
	margin: 15px;
}
